<%= render 'shared/errors', obj: @article %>
<div class="container" style="width: 50%">
      <%= form_with(model: @article, class: "shadow p-3 mb-5 bg-info rounded", local: true) do |f| %>
        <div class="form-floating mb-3">
          <%= f.text_field :title, class: "form-control rounded-0", placeholder:"Some Title" %>
          <%= f.label :title, for: "floatingInput", class:"form-label" %>
        </div>
        <div class="form-floating mb-3">
          <%=
            f.text_area :description,
            class:"form-control rounded-0",
            placeholder:"Some description",
            rows: 12,
            id:"comment",
            style: "height: 100%"
          %>
          <%= f.label :description, for:"comment" %>
        </div>
        <div class="text-center">
          <%= f.submit type:"submit" ,class:"btn btn-primary" %>
          <br/>
          <br/>
          <%= link_to 'Back to Index', articles_path, class: "btn btn-dark btn-sm" %>
        </div>
      <% end %>

</div>
