<h1>Articles List</h1>
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Title</th>
      <th>Description</th>
      <th colspan="3">Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each do |n| %>
        <tr>
          <td><%= n.id %></td>
          <td><%= n.title %></td>
          <td><%= n.description %></td>
          <td><%= link_to 'Show', article_path(n.id) %></td>
          <td><%= link_to 'Edit', edit_article_path(n.id) %></td>
          <td><%= link_to 'Delete', article_path(n.id), method: :delete, data: {confirm: "Are you sure"} %></td>
        </tr>
    <% end %>
  </tbody>
</table>
<p><%= link_to 'Create new Article', new_article_path %></p>
