<h1><strong>Title:</strong> <%= @article.title %> </h1>
<h1><strong>Description:</strong> <%= @article.description %></h1>
<p>
  <%= link_to 'Edit', edit_article_path(@article.id) %>
  <%= link_to 'Delete', article_path(@article.id), method: :delete, data: {confirm: "Are you sure"} %>
</p>
<%= link_to 'Back to Index', articles_path %>
